 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>News</h2>
                    <h2>&nbsp;</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p><i class="fa fa-file"></i><span class="skills">8/19/2016: 3.0.19.Final Release: Maintenance</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">7/12/2016: 3.0.18.Final Release: Maintenance</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">5/23/2016: 3.0.17.Final Release: Maintenance</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">8/6/2015: 3.0.12.Final Release: Maintenance</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">3/20/2015 3.0.11.Final Release: Maintenance</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">10/23/2014 3.0.10.Final Release: Maintenance</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">9/17/2014 3.0.9.Final Release: Maintenance</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">3/31/2014 3.0.7.Final Release: Maintenance</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">12/11/2013 3.0.6.Final Release: Maintenance</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">10/31/2013 3.0.5.Final Release: Maintenance</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">9/5/2013 3.0.4.Final Feature release:  Netty4, JWE, and other stuff</p>
                    <p><i class="fa fa-file"></i><span class="skills">8/6/2013 3.0.3.Final Maintenance release</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">7/17/2013 3.0.2.Final, 2.3.7.Final.  Maintenance</p>
                    <p><i class="fa fa-file"></i><span class="skills">6/19/2013 3.0.1.Final Released.  Quick bugfix.</p>
                    <p><i class="fa fa-file"></i><span class="skills">6/18/2013 Resteasy 3.0.0.Final Released!  JAX-RS 2.0, OAuth2, and other new features</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">5/30/2013 Resteasy 3.0-beta-6, JAX-RS 2.0 Preview, heading towards certification</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">5/7/2013 Resteasy 3.0-beta-5, JAX-RS 2.0 Preview, final spec update</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">4/10/2013 Resteasy 3.0-beta-4, JAX-RS 2.0 Preview, latest spec update</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">4/10/2013 Resteasy 2.3.6, maintenance</p>
                    <p><i class="fa fa-file"></i><span class="skills">2/7/2013 Resteasy 3.0-beta-3, JAX-RS 2.0 Preview, latest spec update</p>
                    <p><i class="fa fa-file"></i><span class="skills">1/24/2013 Resteasy 3.0-beta-2, JAX-RS 2.0 Preview, New OAuth2 Support</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">10/30/2012 Resteasy 3.0-beta-1, JAX-RS 2.0 Preview</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">10/22/2012 Restasy 2.3.5.Final Released, maintenance</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">5/29/2012 Resteasy 2.3.4.Final Released, maintenance plus some new features</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">4/30/2012 RESTEasy 2.3.3.Final Maintenance Release</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">1/18/2012 RESTEasy 2.3.1.GA Maintenance Release</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">12/5/2011 RESTEasy 2.3.0.GA Released with new security features</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">10/24/2011 RESTEasy 2.2.3.GA Maintenance Release</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">8/3/2011 RESTEasy 2.2.2.GA Maintenance Release</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">6/23/2011 RESTEasy 2.2.1.GA Maintenance Release</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">5/31/2011 RESTEasy 2.2.0.GA Released with new Signature framework</p>
                    <p><i class="fa fa-file"></i><span class="skills">3/31/2011 Hornet 2.2.2 Released with REST interface</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">12/15/2010 RESTEasy 2.1.0.GA Released</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">8/10/2010. RESTEasy 2.0.1.GA Released</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">8/9/2010. HornetQ REST Interface built on top of RESTEasy Released</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">July 20th, 2010. RESTEasy 2.0.0.GA released!</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">November 3, 2009. RESTEasy 1.2.GA, lots of bug fixes</p>
                    <p><i class="fa fa-file"></i><span class="skills">June 17, 2009. RESTEasy 1.1.GA, lots of bug fixes and features</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">February 12, 2009. RESTEasy 1.0.2.GA, another quick bug patch</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">January 30, 2009. RESTEasy 1.0.1.GA, quick bug patch</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">January 27, 2009. eWeek article on RESTEasy</span></p>
                    <p><i class="fa fa-file"></i><span class="skills">January 21, 2009. RESTEasy 1.0.0.GA released and certified</span></p>
                </div>
            </div>
        </div>
    </section>
