    <section id="contact">
        <div class="container">
            <div class="row">
                <hr class="noshade"/>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                <li>
                    <a href="http://www.apache.org/licenses/"><img src="img/asl2.png"></a>
                </li>
                <li>
                    <a href="http://www.jboss.org/security.html"><img src="http://static.jboss.org/_root/images/securityissue.png"></a>
                </li>
                <li>
                    <a href="http://www.jboss.org"><img src="img/resteasy_coolstuff_makerfile.png"></a>
                </li>
   
               </ul>
            </div>
        </div>
       </div>
    </section>
