
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Features</h2>
                    <h2>&nbsp;</h2>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-4">         
                            <div class="well">
                              <i class="fa fa-cogs fa-3x"></i>
                              <span class="skills">Portable to any app-server/Tomcat that runs on JDK 6 or higher</span>
                            </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="well">
                                <i class="fa fa-cogs fa-3x"></i>
                                <span class="skills">Embeddedable server implementation for junit testing</span>
                            </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="well">
                                <i class="fa fa-cogs fa-3x"></i>
                                <span class="skills">Client framework that leverages JAX-RS annotations so that you can write HTTP clients easily (JAX-RS only defines server bindings)</span>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-4">
                            <div class="well">
                                <i class="fa fa-cogs fa-3x"></i>
                                <span class="skills">Client "Browser" cache. Supports HTTP 1.1 caching semantics including cache revalidation</span>
                            </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="well">
                                <i class="fa fa-cogs fa-3x"></i>
                                <span class="skills">Server in-memory cache. Local response cache. Automatically handles ETag generation and cache revalidation</span>
                            </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="well">
                                <i class="fa fa-cogs fa-3x"></i>
                                <span class="skills">Rich set of providers for: XML, JSON, YAML, Fastinfoset, Multipart, XOP, Atom, etc.</span>
                            </div>
                    </div>
            </div>
           <div class="row">
                    <div class="col-sm-4">
                            <div class="well">
                                <i class="fa fa-cogs fa-3x"></i>
                                <span class="skills">JAXB marshalling into XML, JSON, Jackson, Fastinfoset, and Atom as well as wrappers for maps, arrays, lists, and sets of JAXB Objects.</span>
                            </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="well">
                                <i class="fa fa-cogs fa-3x"></i>
                                <span class="skills">GZIP content-encoding. Automatic GZIP compression/decompression suppport in client and server frameworks</span>
                            </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="well">
                                <i class="fa fa-cogs fa-3x"></i>
                                <span class="skills">Asynchronous HTTP (Comet) abstractions for JBoss Web, Tomcat 6, and Servlet 3.0</span>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-4">
                            <div class="well">
                                <i class="fa fa-cogs fa-3x"></i>
                                <span class="skills">Asynchronous Job Service.</span>
                            </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="well">
                                <i class="fa fa-cogs fa-3x"></i>
                                <span class="skills">Rich interceptor model.</span>
                            </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="well">
                                <i class="fa fa-cogs fa-3x"></i>
                                <span class="skills">OAuth2 and Distributed SSO with JBoss AS7</span>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-4">
                            <div class="well">
                                <i class="fa fa-cogs fa-3x"></i>
                                <span class="skills">Digital Signature and encryption support with S/MIME and DOSETA</span>
                            </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="well">
                                <i class="fa fa-cogs fa-3x"></i>
                                <span class="skills">EJB, Seam, Guice, Spring, and Spring MVC integration</span>
                            </div>
                    </div>
            </div>
      </div>
    </section>
